# Expo
.expo/
.expo-shared/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Env
.env
.env.local
.env.*.local

# Misc
*.log
*.pid
*.seed
*.pid.lock
